@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    height: 50px;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-left: 320px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

    header .header-name {
        font-weight: 600;
        padding: 14px 12px;
    }

    header .actions {
        padding: 14px 12px;
    }

aside {
    width: 320px;
    background-color: #fafafb;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

    aside .header-name {
        font-weight: 600;
        padding: 14px 12px;
        color: #000;
        display: block;
        font-size: 16px;
        line-height: 22px;
    }

main {
    padding: 10px 10px 20px 10px;
    margin-left: 320px;
    margin-top: 50px;
}

main h1 {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

main .items {
    display: flex;
    flex-direction: column
}

    main .items .item:first-child {
        border-top: 1px solid #fafafb;
    }

    main .items .item {
        padding: 10px 10px;
        border-bottom: 1px solid #fafafb;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        main .items .item .item-byline {
            color: #99a3ad
        }

        main .items .item .item-header {
            margin: 0;
            font-size: 16px;
            line-height: 22px;
        }

    main .items .item:hover {
        border-bottom: 1px solid #fafafb;
        background: #fafafb;
        border-color: rgba(0,0,0,0);
        cursor: pointer;
        border-radius: 4px
    }

        main .items .item .item-edit {
            text-decoration: none;
            color: #000
        }

        main .items .item .item-edit::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }