@model HexaContent.Core.Model.Article

<h1>Edit Article</h1>

<form asp-action="Update" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content"></textarea>
    </div>
    <div>
        <label asp-for="Author.Name"></label>
        <input asp-for="Author.Name" />
    </div>
    <div>
        <label asp-for="CreatedAt"></label>
        <input asp-for="CreatedAt" type="datetime" readonly />
    </div>
    <div>
        <label asp-for="UpdatedAt"></label>
        <input asp-for="UpdatedAt" type="datetime" readonly />
    </div>
    <div>
        <label asp-for="AuthorId"></label>
        <input asp-for="AuthorId" type="number" />
    </div>
    <button type="submit">Save Changes</button>
</form>
